
Lectures/.ipynb_checkpoints/Lecture-03-annotated-checkpoint.ipynb
Homeworks/.ipynb_checkpoints/Checkerboard_plot-checkpoint.ipynb
Homeworks/.ipynb_checkpoints/Homework-01-(yourname)-checkpoint.ipynb
Homeworks/.ipynb_checkpoints/Homework-01-checkpoint.ipynb
Homeworks/.ipynb_checkpoints/Homework-01-solution-checkpoint.ipynb
Homeworks/.ipynb_checkpoints/Homework01_empty-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture-10-annotated-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture-12-annotated-checkpoint.ipynb
Lectures/.ipynb_checkpoints/

